astroid==2.0.1
attrs==19.1.0
Click==7.0
colorama==0.3.9
django==2.1
filelock==3.0.12
Flask==1.1.1
flask-htpasswd==0.3.1
gunicorn==19.9.0
importlib-metadata==0.19
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==19.1
passlib==1.7.1
Pillow==6.0.0
pluggy==0.12.0
py==1.8.0
pylint==2.0.1
pyparsing==2.4.2
pytz==2018.5
six==1.11.0
toml==0.10.0
tox==3.13.2
typed-ast==1.1.0
virtualenv==16.4.3
wordcloud==1.5.0
Werkzeug==0.15.5
wrapt==1.10.11
zipp==0.5.2
