{% extends 'base.html' %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-0 text-gray-800">Titan Regalia Chronograph Analog Wrist Watch</h1>
          <br>
          <p class="mb-4">Here you can find the detailed suggestions from our side based on the reviews. You can also check the reasons for the conclusions</p>
          <!-- Content Row -->

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Ad Focus</h6>
                </div>
                <div class="card-body">
                 <div class="table-responsive">
                
                <p>Focus on the colors, design, elegance, longevity - not on waterproof or battery life</p>
              </div>

                </div>
              </div>

              <!--After the dashboard-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Target Areas</h6>
                </div>
                <div class="card-body">
              <div class="table-responsive">
               <p>Almost all the states have positive reviews.</p>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Fake products</h6>
                </div>
                <div class="card-body">
              <div class="table-responsive">
               <p>Warranty card and details missing, services are not satisfactory: missing out on service revenue</p>
                </table>
              </div>
            </div>
          </div>
             
            </div>

            <div class="col-lg-6 mb-4">
              <!-- Illustrations -->
               <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Product Development </h6>
                </div>
                <div class="card-body">
              <div class="table-responsive">
               <p>In case of newer version,  Elegant design is to be kept for future. More checks on battery and water resistance checks to meet customer expectations. </p>
                </table>
              </div>
            </div>
          </div>
             

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Water resistance Issues</h6>
                </div>
                <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> 
                  <p>Waterproof checks need to be done to check the exact details of water resistance.</p>
                </table>
              </div>
            </div>
          </div>
            </div>
           


            <!-- Content Column -->
            
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; @Automizeapps 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
{% endblock %}