{% extends 'base.html' %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Product List</h1>
          <p class="mb-4">Here you can find the list of products that you've opted for. Kindly click on a product to go to the next  dashboard</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Product List Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Product Type</th>
                      <th>Product Name</th>
                      <th>Number of Reviews</th>
                      <th>Average Review</th>
                      <th>Positive Sentiment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Women's Watch</td>
                      <td>Titan Raga Analog White Dial Women's Watch -NE2370YM03</td>
                      <td>545</td>
                      <td>3.5</td>
                      <td>75%</td>
                    </tr>
                    <tr>
                      <td>Men's Watch</td>
                      <td>NF9322SL03MJ Octane Analog Watch - For Men</td>
                      <td>2631</td>
                      <td>4</td>
                      <td>75%</td>
                    </tr>
                    <tr>
                      <td>Women's Watch</td>
                      <td>Titan Youth Analog Black Dial -NK2480SM02</td>
                      <td>1021</td>
                      <td>2</td>
                      <td>39%</td>
                    </tr>
                    <tr>
                      <td>Men's Watch</td>
                      <td>Titan Karishma Analog Black Dial -NH9151SM02A</td>
                      <td>963</td>
                      <td>3</td>
                      <td>70%</td>
                    </tr>
                    
                    <tr>
                      <td>Women's Watch</td>
                      <td>TTitan Analog Blue Dial Women's Watch -NK9710SM01</td>
                      <td>2521</td>
                      <td>4</td>
                      <td>89%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

</body>

</html>
{% endblock %}